# ICC Men's CWC 2023 Analysis: Building the Best ODI Playing 11
![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Data Cleaning & Transformation
First I loaded the JSON data files and used Python libs like Pandas, and JSON to transform each JSON format data file to a data frame then performed data cleaning and some transformation. After that, I exported the data into CSV files.

In [1]:
#import necessary libraries
import pandas as pd
import json

![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Tansfrom The Match Results From JSON Fromat to Data Fram
### 1. Match Summary File Preprocessing

In [2]:
with open('JSON Data Files/cwc23_match_results.json') as f:
    data = json.load(f)
# Assuming 'matchSummary' is a list of dictionaries
df_match = pd.DataFrame(data['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

In [3]:
df_match.shape

(48, 7)

---
### Make The "scorecard" Column as MatchID(Primary Key)
> It will help us to connect this table with other tables during the later stages of analysis and vizualization.

In [4]:
df_match.rename({'scorecard': 'match_id'}, axis = 1, inplace = True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,Australia,Australia,6 wickets,Ahmedabad,"Nov 19, 2023",ODI # 4705
1,Australia,South Africa,Australia,3 wickets,Eden Gardens,"Nov 16, 2023",ODI # 4704
2,India,New Zealand,India,70 runs,Wankhede,"Nov 15, 2023",ODI # 4703
3,India,Netherlands,India,160 runs,Bengaluru,"Nov 12, 2023",ODI # 4702
4,England,Pakistan,England,93 runs,Eden Gardens,"Nov 11, 2023",ODI # 4701

### Create Match ID Dictionary
> This helps us to create a match_id column in batting and bowling summary tables.

In [5]:
match_ids_dict = {}

for index, row in df_match.iterrows():
    key1 = str(row['team1']) + ' Vs ' + str(row['team2'])
    key2 = str(row['team2']) + ' Vs ' + str(row['team1'])
    
    match_ids_dict[key1] = row['match_id']
    match_ids_dict[key2] = row['match_id']

match_ids_dict

{'India Vs Australia': 'ODI # 4662',
 'Australia Vs India': 'ODI # 4662',
 'Australia Vs South Africa': 'ODI # 4667',
 'South Africa Vs Australia': 'ODI # 4667',
 'India Vs New Zealand': 'ODI # 4678',
 'New Zealand Vs India': 'ODI # 4678',
 'India Vs Netherlands': 'ODI # 4702',
 'Netherlands Vs India': 'ODI # 4702',
 'England Vs Pakistan': 'ODI # 4701',
 'Pakistan Vs England': 'ODI # 4701',
 'Australia Vs Bangladesh': 'ODI # 4700',
 'Bangladesh Vs Australia': 'ODI # 4700',
 'Afghanistan Vs South Africa': 'ODI # 4699',
 'South Africa Vs Afghanistan': 'ODI # 4699',
 'New Zealand Vs Sri Lanka': 'ODI # 4698',
 'Sri Lanka Vs New Zealand': 'ODI # 4698',
 'England Vs Netherlands': 'ODI # 4697',
 'Netherlands Vs England': 'ODI # 4697',
 'Afghanistan Vs Australia': 'ODI # 4696',
 'Australia Vs Afghanistan': 'ODI # 4696',
 'Bangladesh Vs Sri Lanka': 'ODI # 4695',
 'Sri Lanka Vs Bangladesh': 'ODI # 4695',
 'India Vs South Africa': 'ODI # 4694',
 'South Africa Vs India': 'ODI # 4694',
 'Australia Vs England': 'ODI # 4693',
 'England Vs Australia': 'ODI # 4693',
 'New Zealand Vs Pakistan': 'ODI # 4692',
 'Pakistan Vs New Zealand': 'ODI # 4692',
 'Afghanistan Vs Netherlands': 'ODI # 4691',
 'Netherlands Vs Afghanistan': 'ODI # 4691',
 'India Vs Sri Lanka': 'ODI # 4690',
 'Sri Lanka Vs India': 'ODI # 4690',
 'New Zealand Vs South Africa': 'ODI # 4689',
 'South Africa Vs New Zealand': 'ODI # 4689',
 'Bangladesh Vs Pakistan': 'ODI # 4688',
 'Pakistan Vs Bangladesh': 'ODI # 4688',
 'Afghanistan Vs Sri Lanka': 'ODI # 4687',
 'Sri Lanka Vs Afghanistan': 'ODI # 4687',
 'India Vs England': 'ODI # 4686',
 'England Vs India': 'ODI # 4686',
 'Bangladesh Vs Netherlands': 'ODI # 4685',
 'Netherlands Vs Bangladesh': 'ODI # 4685',
 'Australia Vs New Zealand': 'ODI # 4684',
 'New Zealand Vs Australia': 'ODI # 4684',
 'Pakistan Vs South Africa': 'ODI # 4683',
 'South Africa Vs Pakistan': 'ODI # 4683',
 'England Vs Sri Lanka': 'ODI # 4682',
 'Sri Lanka Vs England': 'ODI # 4682',
 'Australia Vs Netherlands': 'ODI # 4681',
 'Netherlands Vs Australia': 'ODI # 4681',
 'Bangladesh Vs South Africa': 'ODI # 4680',
 'South Africa Vs Bangladesh': 'ODI # 4680',
 'Afghanistan Vs Pakistan': 'ODI # 4679',
 'Pakistan Vs Afghanistan': 'ODI # 4679',
 'England Vs South Africa': 'ODI # 4677',
 'South Africa Vs England': 'ODI # 4677',
 'Netherlands Vs Sri Lanka': 'ODI # 4676',
 'Sri Lanka Vs Netherlands': 'ODI # 4676',
 'Australia Vs Pakistan': 'ODI # 4675',
 'Pakistan Vs Australia': 'ODI # 4675',
 'India Vs Bangladesh': 'ODI # 4674',
 'Bangladesh Vs India': 'ODI # 4674',
 'Afghanistan Vs New Zealand': 'ODI # 4673',
 'New Zealand Vs Afghanistan': 'ODI # 4673',
 'Netherlands Vs South Africa': 'ODI # 4672',
 'South Africa Vs Netherlands': 'ODI # 4672',
 'Australia Vs Sri Lanka': 'ODI # 4671',
 'Sri Lanka Vs Australia': 'ODI # 4671',
 'Afghanistan Vs England': 'ODI # 4670',
 'England Vs Afghanistan': 'ODI # 4670',
 'India Vs Pakistan': 'ODI # 4669',
 'Pakistan Vs India': 'ODI # 4669',
 'Bangladesh Vs New Zealand': 'ODI # 4668',
 'New Zealand Vs Bangladesh': 'ODI # 4668',
 'India Vs Afghanistan': 'ODI # 4666',
 'Afghanistan Vs India': 'ODI # 4666',
 'Pakistan Vs Sri Lanka': 'ODI # 4665',
 'Sri Lanka Vs Pakistan': 'ODI # 4665',
 'Bangladesh Vs England': 'ODI # 4664',
 'England Vs Bangladesh': 'ODI # 4664',
 'Netherlands Vs New Zealand': 'ODI # 4663',
 'New Zealand Vs Netherlands': 'ODI # 4663',
 'South Africa Vs Sri Lanka': 'ODI # 4661',
 'Sri Lanka Vs South Africa': 'ODI # 4661',
 'Afghanistan Vs Bangladesh': 'ODI # 4660',
 'Bangladesh Vs Afghanistan': 'ODI # 4660',
 'Netherlands Vs Pakistan': 'ODI # 4659',
 'Pakistan Vs Netherlands': 'ODI # 4659',
 'England Vs New Zealand': 'ODI # 4658',
 'New Zealand Vs England': 'ODI # 4658'}

![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## 2. Batting Summary  File Preprocessing

In [6]:
with open('JSON Data Files/cwc23_batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])

df_batting = pd.DataFrame(all_records)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,b Tanzim Hasan Sakib,41,36,8,0,113.88
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,c â€ Mushfiqur Rahim b Shoriful Islam,4,5,1,0,80.00
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal MendisÂ (c)â€,c Shoriful Islam b Shakib Al Hasan,19,30,1,1,63.33
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,c Mahmudullah b Shakib Al Hasan,41,42,4,0,97.61
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,c Litton Das b Tanzim Hasan Sakib,108,105,6,5,102.85

### Changing The Data OF Column "Dismissal"
>Add a new column that store the dismissl status in two values out or not_out

In [7]:
import numpy as np
df_batting["out/not_out"] = np.where(df_batting['dismissal'].isna(), 'not_out', 'out')
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,b Tanzim Hasan Sakib,41,36,8,0,113.88,out
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,c â€ Mushfiqur Rahim b Shoriful Islam,4,5,1,0,80.00,out
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal MendisÂ (c)â€,c Shoriful Islam b Shakib Al Hasan,19,30,1,1,63.33,out
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,c Mahmudullah b Shakib Al Hasan,41,42,4,0,97.61,out
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,c Litton Das b Tanzim Hasan Sakib,108,105,6,5,102.85,out

### Remove the Dismissal Status Column
> _As we formed a new column **Out/not_out** for this data we did not require the **dismissal** column anymore.

In [8]:
df_batting['dismissal'] = df_batting['dismissal'].astype(str)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,b Tanzim Hasan Sakib,41,36,8,0,113.88,out
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,c â€ Mushfiqur Rahim b Shoriful Islam,4,5,1,0,80.00,out
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal MendisÂ (c)â€,c Shoriful Islam b Shakib Al Hasan,19,30,1,1,63.33,out
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,c Mahmudullah b Shakib Al Hasan,41,42,4,0,97.61,out
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,c Litton Das b Tanzim Hasan Sakib,108,105,6,5,102.85,out

### Remove The Dismissal Column
##### So now we have **out/not_out** status column in place of dismissal column

In [9]:
df_batting.drop('dismissal', axis=1, inplace=True)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,41,36,8,0,113.88,out
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,4,5,1,0,80.00,out
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal MendisÂ (c)â€,19,30,1,1,63.33,out
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,41,42,4,0,97.61,out
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,108,105,6,5,102.85,out

### Remove The Unwanted Chars & Clean Data Entries

In [10]:
# rmoveing unwanted char from batsmanName column of df_batting DataFrame
characters_to_replace = ['Â', 'â€', '/â€', 'â€/Â']  # Add more characters as needed

for char in characters_to_replace:
    df_batting['batsmanName'] = df_batting['batsmanName'].str.replace(char, '')

df_batting['batsmanName'] = df_batting['batsmanName'].str.strip()

df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,41,36,8,0,113.88,out
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,4,5,1,0,80.00,out
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal Mendis (c),19,30,1,1,63.33,out
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,41,42,4,0,97.61,out
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,108,105,6,5,102.85,out

### Add an MatchID(Foregin Key) Column Using df_match DataFrame
It will help us to connect this table with other tables during the later stages of analysis and vizualization.

In [11]:
df_batting["match_id"] = df_batting["match"].map(match_ids_dict)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Sri Lanka Vs Bangladesh,Sri Lanka,1,Pathum Nissanka,41,36,8,0,113.88,out,ODI # 4695
1,Sri Lanka Vs Bangladesh,Sri Lanka,2,Kusal Perera,4,5,1,0,80.00,out,ODI # 4695
2,Sri Lanka Vs Bangladesh,Sri Lanka,3,Kusal Mendis (c),19,30,1,1,63.33,out,ODI # 4695
3,Sri Lanka Vs Bangladesh,Sri Lanka,4,Sadeera Samarawickrama,41,42,4,0,97.61,out,ODI # 4695
4,Sri Lanka Vs Bangladesh,Sri Lanka,5,Charith Asalanka,108,105,6,5,102.85,out,ODI # 4695

![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## 3. Bowling Summary File Preprocessing

In [12]:
#convert bowling summary json file to df_bowling DataFrame
with open('JSON Data Files/cwc23_bowling_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['bowlingSummary'])

df_bowling = pd.DataFrame(all_records)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,England Vs New Zealand,New Zealand,Trent Boult,10,1,48,1,4.80,34,3,2,1,0
1,England Vs New Zealand,New Zealand,Matt Henry,10,1,48,3,4.80,31,6,0,0,0
2,England Vs New Zealand,New Zealand,Mitchell Santner,10,0,37,2,3.70,26,0,0,1,0
3,England Vs New Zealand,New Zealand,James Neesham,7,0,56,0,8.00,15,5,2,2,0
4,England Vs New Zealand,New Zealand,Rachin Ravindra,10,0,76,1,7.60,14,6,2,0,0

### Add an MatchID(Foregin Key) Column Using df_match DataFrame
> It will help us to connect this table with other tables during the later stages of analysis and vizualization.

In [13]:
df_bowling["match_id"] = df_bowling["match"].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,England Vs New Zealand,New Zealand,Trent Boult,10,1,48,1,4.80,34,3,2,1,0,ODI # 4658
1,England Vs New Zealand,New Zealand,Matt Henry,10,1,48,3,4.80,31,6,0,0,0,ODI # 4658
2,England Vs New Zealand,New Zealand,Mitchell Santner,10,0,37,2,3.70,26,0,0,1,0,ODI # 4658
3,England Vs New Zealand,New Zealand,James Neesham,7,0,56,0,8.00,15,5,2,2,0,ODI # 4658
4,England Vs New Zealand,New Zealand,Rachin Ravindra,10,0,76,1,7.60,14,6,2,0,0,ODI # 4658

![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## 4. Player Summary File Preprocessing

In [14]:
with open('JSON Data Files/cwc23_players_info.json') as f:
    player_info_data = json.load(f)

# Create a DataFrame from the JSON data
df_player = pd.DataFrame(player_info_data)
df_player.head()

,name,team,battingStyle,bowlingStyle,playingRole,description,input
0,Mahmudullah,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,An allrounder who bowls tidy offspin and bats ...,{}
1,Jasprit Bumrah,India,Right hand Bat,Right arm Fast,Bowler,Jasprit Bumrah grabbed eyeballs first with his...,{}
2,Kuldeep Yadav,India,Left hand Bat,Left arm Wrist spin,Bowler,Kuldeep Yadav started as a fast bowler when he...,{}
3,Mark Wood,England,Right hand Bat,Right arm Fast,Bowler,"It looked, for a while, as if Mark Wood would ...",{}
4,Dimuth Karunaratne,Sri Lanka,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...,{}

### Remove The *Input* Column

In [15]:
df_player.drop('input', axis=1, inplace=True)
df_player.head()

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Mahmudullah,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,An allrounder who bowls tidy offspin and bats ...
1,Jasprit Bumrah,India,Right hand Bat,Right arm Fast,Bowler,Jasprit Bumrah grabbed eyeballs first with his...
2,Kuldeep Yadav,India,Left hand Bat,Left arm Wrist spin,Bowler,Kuldeep Yadav started as a fast bowler when he...
3,Mark Wood,England,Right hand Bat,Right arm Fast,Bowler,"It looked, for a while, as if Mark Wood would ..."
4,Dimuth Karunaratne,Sri Lanka,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...

In [16]:
df_player.insert(2, 'image', value='')
df_player.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Mahmudullah,Bangladesh,,Right hand Bat,Right arm Offbreak,Allrounder,An allrounder who bowls tidy offspin and bats ...
1,Jasprit Bumrah,India,,Right hand Bat,Right arm Fast,Bowler,Jasprit Bumrah grabbed eyeballs first with his...
2,Kuldeep Yadav,India,,Left hand Bat,Left arm Wrist spin,Bowler,Kuldeep Yadav started as a fast bowler when he...
3,Mark Wood,England,,Right hand Bat,Right arm Fast,Bowler,"It looked, for a while, as if Mark Wood would ..."
4,Dimuth Karunaratne,Sri Lanka,,Left hand Bat,Right arm Medium,Opening Batter,Dimuth Karunaratne is a solid left-hand openin...

![](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
## Exporting Files to CSV Format

In [17]:
df_match.to_csv('CSV Files Export Juputer/cwc23_match_summary.csv', index = False)

In [18]:
df_batting.to_csv('CSV Files Export Juputer/cwc23_batting_summary.csv', index = False)

In [19]:
df_bowling.to_csv('CSV Files Export Juputer/cwc23_bowling_summary.csv', index = False)

In [20]:
df_player.to_csv('CSV Files Export Juputer/cwc23_player_info.csv', index = False)